.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp
*/extensions/*/*.dll
*/extensions/*/autogen.gml
*/datafiles/winwin.html
winwin/autogen.cpp

*/Debug/
*/Release/
Debug/
Release/

*.sdf
help.rtf
temp/
winwin_imgui/